/* .container{
    width: 50%;
}

.container {
    background-color: white;
    color: #f6f7f7;
    background: transparent;
    border: 2px solid #138781;
    transition: all0.5s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    opacity: 80%;
} */